
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/font-awesome-6-pro-main/css/all.min.css">
    <link rel="stylesheet" href="/static/owl/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/owl/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=search" />
    <script src="/static/owl/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/carousel.css">
    <link rel="stylesheet" href="/static/css/products.css">
    <link rel="stylesheet" href="/static/css/owl.css">
<link rel="stylesheet" href="/static/css/about.css">
<link rel="stylesheet" href="/static/css/shop_styles.css">
<link rel="stylesheet" href="/static/css/contact_style.css">
<link rel="stylesheet" href="/static/css/register.css">
<link rel="stylesheet" href="/static/css/Product_style.css">


    <title>NestMart</title>
   
  
</head>
<body class="container-fluid">
<section id="navbar">

<nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}"><img src="/static/images/nest-logo.png" alt="" class="navs-img"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
         
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <form action="">
                <div class="search">
                    <span class="material-symbols-outlined search-icon">search</span>
                    <input type="search" placeholder="Search" class="search-input" id="search-input">
                </div>
            </form>
            <!-- Search results container -->
            <div id="search-results" ></div>
            </li>
            {%for nav in Navbar%}
                <li class="nav-item  my-2 ms-5">
                  <a class="nav-link text-dark" href="{{nav.url}}">{{nav.title}}</a>
                </li>
            {%endfor%}
                
               
                
                
            
          </ul>
         
          <ul class="navbar-nav navs">
            <li class="nav-item mx-2">
              <div class="dropdown">
                <button class="btn btn-success dropdown-toggle" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    {% if user.is_authenticated %}
                        {{ user.get_full_name|default:user.username }}
                    {% else %}
                        Account
                    {% endif %}
                </button>
            
                <ul class="dropdown-menu" aria-labelledby="userDropdown">
                    {% if user.is_authenticated %}
                        <li>
                            <form action="{% url 'logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="dropdown-item text-danger">Log Out</button>
                            </form>
                        </li>
                        <li>
                          <a class="text-decoration-none text-dark mx-3" href="{% url 'order_history' %}">Order History</a>

                        </li>
                    {% else %}
                        <li><a class="dropdown-item" href="{% url 'login' %}">Log In</a></li>
                      
                    {% endif %}
                </ul>
            </div>
            </li>
            <li>
              <a href="{% url 'cart_view' %}" class="nav-link">
                🛒 Cart (<span id="cart-count">{{ request.user.cart_set.count }}</span>)
            </a>
            </li>
        </ul>
        </div>
      </div>
    </nav>  

</section>
 